@charset "UTF-8";
/*--------------------------------------*\
    Project name: FishEye
    Author: Adelino ARAUJO
\*------------------------------------- */
/*-----------------------*\
          RESET
\*---------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

/*-----------------------*\
        TYPOGRAPHY
\*---------------------- */
body {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

/*-----------------------*\
        VARIABLES
\*---------------------- */
/*---- Breaking Points ----*/
/*--- basic colors ---*/
/*--- Project colors ---*/
/*--- Customized colors ---*/
/*-----------------------*\
          MIXINS
\*---------------------- */
/*-----------------------*\
         FUNCTIONS
\*---------------------- */
/*-----------------------*\
           BODY
\*---------------------- */
body {
  margin: 0;
  padding: 0;
}

/*-----------------------*\
       CONTAINER
\*---------------------- */
.container {
  width: 1440px;
  height: auto;
  margin: 0 auto;
  padding: 20px 50px;
}

/*-----------------------*\
          BUTTONS
\*---------------------- */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.button--contact, .button--submit {
  width: 170px;
  height: 69px;
  margin-top: 12px;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  background-color: #911d1d;
  cursor: pointer;
}
.button--toMain {
  width: 182px;
  height: 30px;
  background-color: #DB8876;
  font-size: 1.1em;
  font-weight: 700;
  color: black;
}

/*-----------------------*\
           CARD
\*---------------------- */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 263px;
  height: auto;
  margin-top: 50px;
}
.card[visible=false] {
  display: none;
}
.card--page {
  align-items: flex-start;
  flex-grow: 1;
  margin-top: 0;
  width: 375px;
}
.card__link {
  text-align: center;
}
.card__picture {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  object-fit: cover;
}
.card__name {
  font-size: 2.571em;
  color: #d3573c;
}
.card__name--page {
  font-size: 3.5em;
}
.card__location {
  font-size: 0.929em;
  color: #911d1d;
}
.card__location--page {
  font-size: 1.714em;
}
.card__tagline {
  margin: 5px 0;
  font-size: 0.714em;
}
.card__tagline--page {
  margin-top: 15px;
  font-size: 1.286em;
}
.card__price {
  font-size: 0.643em;
}

/*-----------------------*\
       Informations
\*---------------------- */
.about {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: 313px;
  margin-top: 100px;
  padding: 50px;
  border-radius: 5px;
  background-color: #fafafa;
}
.about__informations {
  display: flex;
}

.extra {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  right: 100px;
  width: 376px;
  height: 69px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.8em;
  font-weight: 500;
  background-color: #DB8876;
}
.extra__likes-number {
  display: flex;
  align-items: center;
}
.extra__likes-number:after {
  display: block;
  margin-left: 7px;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 0.7em;
}

/*-----------------------*\
       ANIMATIONS
\*---------------------- */
/*-----------------------*\
          Media
\*-----------------------*/
.media {
  width: 350px;
  height: 350px;
  margin: 20px 0;
}
.media[visible=false] {
  display: none;
}
.media__element {
  display: block;
  width: 350px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.media__element img {
  object-fit: cover;
}
.media__informations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 1.5em;
  font-weight: 400;
  color: #911d1d;
}
.media__likes {
  display: flex;
  align-items: center;
}
.media__likes::after {
  display: block;
  margin-left: 7px;
  content: "";
  font-family: "Font Awesome 5 Free";
  text-align: center;
  font-size: 0.8em;
  font-weight: 700;
}

/*-----------------------*\
          Gallery
\*-----------------------*/
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 120px;
  justify-items: center;
  margin: 50px 0;
}

/*-----------------------*\
          Sorting
\*-----------------------*/
.sort {
  display: flex;
  align-items: center;
  margin: 50px 0;
}
.sort__title {
  margin-right: 30px;
  font-size: 1.1em;
  font-weight: 700;
}
.sort__selection {
  width: 170px;
  height: 69px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #911d1d;
  font-size: 1.1em;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.sort__selection:hover {
  overflow: visible;
}
.sort__selection :nth-child(n+2) {
  visibility: hidden;
}
.sort__selection:hover :nth-child(n+2) {
  visibility: visible;
}
.sort__selection:hover :first-child::after {
  content: "";
  font-family: "Font Awesome 5 Free";
}
.sort__option {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  padding: 20px;
  font-size: inherit;
  font-weight: inherit;
  background-color: #911d1d;
}
.sort__option:first-child::after {
  content: "";
  font-family: "Font Awesome 5 Free";
}
.sort__option:first-child {
  border-radius: 5px 5px 0 0;
}
.sort__option:last-child {
  border-radius: 0 0 5px 5px;
}
.sort__option:nth-child(2)::before, .sort__option:nth-child(2)::after {
  position: absolute;
  content: " ";
  width: 130px;
  height: 1px;
  background-color: white;
}
.sort__option:nth-child(2)::before {
  top: 0;
}
.sort__option:nth-child(2)::after {
  bottom: 0;
}

/*-----------------------*\
         Lightbox
\*-----------------------*/
.lightBox-modal {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.lightBox-modal[visible=false] {
  display: none;
}
.lightBox-modal[visible=true] {
  display: flex;
}
.lightBox-modal__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1250px;
  height: 1000px;
}
.lightBox-modal__gallery {
  width: 1050px;
  height: 950px;
}
.lightBox-modal__media {
  display: flex;
  flex-direction: column;
  width: 1050px;
  height: 950px;
}
.lightBox-modal__media[visible=false] {
  display: none;
}
.lightBox-modal__media[visible=true] {
  display: flex;
}
.lightBox-modal__element {
  width: 100%;
  height: 900px;
}
.lightBox-modal__element-video {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.lightBox-modal__title {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 400;
  color: #911d1d;
}
.lightBox-modal__nav {
  font-family: "Font Awesome 5 Free";
  color: #911d1d;
  font-size: 3em;
  font-weight: 700;
  cursor: pointer;
}
.lightBox-modal__nav--close {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 42px;
  height: 42px;
}
.lightBox-modal__nav--close:before, .lightBox-modal__nav--close:after {
  position: absolute;
  left: 15px;
  content: " ";
  width: 4px;
  height: 42px;
  background-color: #911d1d;
}
.lightBox-modal__nav--close:before {
  transform: rotate(45deg);
}
.lightBox-modal__nav--close:after {
  transform: rotate(-45deg);
}
.lightBox-modal__nav--prev:before, .lightBox-modal__nav--next:after {
  position: absolute;
}
.lightBox-modal__nav--prev:before {
  left: 0;
  margin-left: 40px;
  content: "";
}
.lightBox-modal__nav--next:after {
  right: 0;
  margin-right: 40px;
  content: "";
}

/*-----------------------*\
         Contact
\*-----------------------*/
.contact-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 670px;
  height: 900px;
  margin-left: -335px;
  margin-top: -450px;
  padding: 30px;
  border-radius: 5px;
  background-color: #DB8876;
}
.contact-modal[visible=true] {
  display: block;
}
.contact-modal__box {
  position: relative;
}
.contact-modal__title, .contact-modal__sub-title {
  font-size: 3.5em;
  font-weight: 400;
}
.contact-modal__sub-title {
  margin-bottom: 10px;
}
.contact-modal label {
  font-size: 2em;
  font-weight: 400;
}
.contact-modal__form {
  display: flex;
  flex-direction: column;
}
.contact-modal input, .contact-modal textarea {
  width: 599px;
  height: 68px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.contact-modal textarea {
  resize: none;
  height: 170px;
}
.contact-modal__button {
  cursor: pointer;
  color: white;
}
.contact-modal__button--close {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 42px;
  height: 42px;
}
.contact-modal__button--close:before, .contact-modal__button--close:after {
  position: absolute;
  left: 15px;
  content: " ";
  width: 6px;
  height: 52px;
  background-color: white;
}
.contact-modal__button--close:before {
  transform: rotate(45deg);
}
.contact-modal__button--close:after {
  transform: rotate(-45deg);
}

/*-----------------------*\
          HEADER
\*---------------------- */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "logo nav title";
  align-items: center;
  width: 100%;
}
.header--photographer-page {
  grid-template-areas: "logo logo logo";
}
.header__logo {
  grid-area: logo;
  width: 200px;
  height: 50px;
}
.header__navigation {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  grid-area: title;
  font-size: 2em;
  font-weight: 400;
  color: #911d1d;
  text-align: center;
}

/*-----------------------*\
        NAVIGATION
\*---------------------- */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 553px;
  height: 49px;
}
.navigation--inPhotographerPage {
  justify-content: start;
}
.navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  margin: 0 2px;
  padding: 5px;
  border: solid 0.5px #c4c4c4;
  border-radius: 11px;
  font-size: 0.75em;
  font-weight: 500;
  color: #911d1d;
}
.navigation__link:hover {
  cursor: pointer;
  background-color: #911d1d;
  color: white;
}
.navigation__link[enabled=true] {
  background-color: #911d1d;
  color: white;
}

/*-----------------------*\
           FORMS
\*---------------------- */

/*# sourceMappingURL=style.css.map */
