/*-----------------------*\
          Home
\*---------------------- */

.title{
  font-size: 36px;
  color: $color-primary;
}

.photographers{
  width: 100%;
  &__gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}