/*-----------------------*\
          Home
\*---------------------- */

.title{
  font-size: 36px;
  color: $color-primary;
}

.photographers-gallery{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}