/*-----------------------*\
          BUTTONS
\*---------------------- */

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  text-align: center;
  &--contact, &--submit{
    width: 170px;
    height: 69px;
    margin-top: 12px;
    font-size: 1.2em;
    font-weight: 700;
    color: $color-white;
    background-color: $color-primary;
    cursor: pointer;
  }
}