/*-----------------------*\
          BUTTONS
\*---------------------- */

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  text-align: center;
  &--contact, &--submit{
    width: 170px;
    height: 35px;
    margin-top: 12px;
    font-size: 1em;
    font-weight: 700;
    color: $color-white;
    background-color: $color-primary;
    cursor: pointer;
  }
  &--contact, &--submit{
    left: 50%;
    margin-left: -85px;
  }
  &--contact{
    position: fixed;
    bottom: 30px;
    @media screen and (min-width: $normal){
      position: relative;
      height: 69px;
    }
  }
  &--submit{
    position: relative;
    @media screen and (min-width: $medium) {
      height: 69px;
      left: 0;
      margin-left: 0;
    }
  }

  &--toMain{
    display: none; //TODO add diplay whrn scroll
    width: 182px;
    height: 30px;
    background-color: #DB8876;
    font-size: 1.1em;
    font-weight: 700;
    color: $color-black;
  }
}