/*-----------------------*\
         Contact
\*-----------------------*/

.contact-modal{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: #DB8876;
  &--isHidden{
    display: none;
  }
  @media screen and (min-width: $small){
    width: 90%;
    left: 50%;
    margin-left: -45%;
  }
  @media screen and (min-width: $medium) {
    width: 670px;
    height: 900px;
    top: 50%;
    left: 50%;
    margin-top: -450px;
    margin-left: -335px;
  }
  &__box{
    position: relative;
  }
  &__title, &__sub-title{
    font-size: 1.2em;
    font-weight: 400;
    @media screen and (min-width: $medium) {
      font-size: 3em;
    }
  }
  &__sub-title{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  & label{
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: 400;
    @media screen and (min-width: $medium) {
      font-size: 2em;
    }
  }
  &__form{
    display: flex;
    flex-direction: column;
  }
  & input, & textarea{
    width: 100%;
    height: 32px;
    margin-bottom: 15px;
    border-radius: 5px;
    &:focus-visible{
      outline: solid 4px lightgreen;
      border-radius: 5px;
      }
    }
  & input {
    @media screen and (min-width: $medium) {
      height: 52px;
    }
  }
  & textarea{
    resize: none;
    height: 100px;
    @media screen and (min-width: $medium) {
      height: 170px;
    }
  }
  &__button{
    cursor: pointer;
    color: $color-white;
    &--close{
      position: absolute;
      top: 0;
      right: 0;
      width: 42px;
      height: 42px;
      &:before, &:after{
        position: absolute;
        top: 3px;
        left: 22px;
        content: " ";
        width: 3px;
        height: 32px;
        background-color: $color-white;
      }
      &:before{
        transform: rotate(45deg);
      }
      &:after{
        transform: rotate(-45deg);
      }
      &:focus-visible{
        outline: solid 4px lightgreen;
        border-radius: 5px;
      }
    }
  }
}