/*-----------------------*\
          Gallery
\*-----------------------*/

.gallery{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 50px 0;
  @media screen and (min-width: $medium){
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: $normal){
    grid-template-columns: 1fr 1fr 1fr;
  }
}