/*-----------------------*\
        NAVIGATION
\*---------------------- */

.navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 553px;
  height: 49px;
  //background-color: lightblue; //TODO deleter once finished
  &--inCard{
    max-width: 263px;
    height: 40px;
  }
  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    margin: 0 2px;
    padding: 5px;
    border: solid 0.5px $color-light-grey;
    border-radius: 11px;
    font-size: 0.75em;
    font-weight: 500;
    color: $color-primary;
    &--inCard{
      text-transform: lowercase;
    }
  }
}

