/*-----------------------*\
          BUTTONS
\*---------------------- */

.clickToAction{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: $color-black;
  background-color: $color-secondary;
}
