/*-----------------------*\
          HEADER
\*---------------------- */

.header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "logo nav title";
  align-items: center;
  width: 100%;
  &--photographer-page{
    grid-template-areas: "logo logo logo";
  }
  &__logo{
    grid-area: logo;
    width: 200px;
    height: 50px;
  }
  &__navigation{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    grid-area: title;
    font-size: 2em;
    font-weight: 400;
    color: $color-primary;
    text-align: center;
  }
}