/*-----------------------*\
        NAVIGATION
\*---------------------- */

.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 2px;
  &--photographerPage{
    justify-content: start;
  }
  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    margin: 2px;
    padding: 5px;
    border: solid 0.5px $color-light-grey;
    border-radius: 11px;
    font-size: 0.75em;
    font-weight: 500;
    color: $color-primary;
    &:hover{
      cursor: pointer;
      background-color: $color-primary;
      color: $color-white;
    }
    &[data-tag-selected-status="selected"]{
      background-color: $color-primary;
      color: $color-white;
    }
  }
}

