/*-----------------------*\
        VARIABLES
\*---------------------- */

/*---- Breaking Points ----*/

$x-small: 376px;
$small: 430px;
$medium: 768px;
$normal: 1200px;
$large: 1600px;

/*--- basic colors ---*/
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%) ;

/*--- Project colors ---*/
$color-primary: hsl(0, 67%, 34%); // #901C1C
$color-secondary: hsl(11, 63%, 53%); // #D3573C
$color-dark-grey: hsl(0, 0%, 32%) ; // #525252
$color-medium-grey:hsl(0, 0%, 98%) ; // #FAFAFA
$color-light-grey: hsl(0, 0%, 77%) ; // #F2F2F2

/*--- Customized colors ---*/

